name: C/C++ CI

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install
        run: sudo apt-get install -y meson ninja-build

      - name: build
        run: |
          meson setup build
          meson compile -C build

      - name: zip
        if: startsWith(github.ref, 'refs/tags/')
        run: zip -j out.zip build/test-nvm 
        # -j ignores the directory structure, so the zip contains just the file

      - name: release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: out.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
